<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col col-sm-6 col-sm-6"></div>
            <div class="col col-sm-6 col-sm-6">
        <form method="POST" action="/getdata">
        <table class="table">
           <tr>
            <td> name</td>  
          <td><input type="text" name="getname"></td>
        </tr>
        <tr>
            <td>adress</td>
            <td><input type="text" name="getaddres"></td>
        </tr>
        <tr>
            <td>place</td>
            <td><input type="text" name="getplace"></td>
        </tr>
        <tr>
            <td>mobile</td>
            <td><input type="text" name="getmobile"></td>
        </tr>
        <tr> 
            <td>email</td>
            <td><input type="text" name="getemail"></td>
        </tr>
        <tr>
            <td></td>
            <td><button type="submit" class="button">submit</button></td>
        </tr>
    </table>
    </form>
    <div class="col col-sm-6 col-sm-6"></div>
    </div>
    </div>
    </div>
</body>
</html>