
<h1>HELLO {{name}}</h1>
<div class="container">
    <div class="jumbotron">
    <div class="row">
        
        <div class="col col-sm-6">
            <h1>HANDLE BARS</h1>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio quibusdam hic aliquid. Nisi sint neque cum, perspiciatis, fugiat sequi minus rerum modi porro aliquid accusamus autem ab itaque doloribus dolores.

        </div>
    
       
        <div class="col col-sm-6">
             <h1>BOOTSRAP</h1>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates blanditiis eos vel consequuntur expedita inventore ducimus ad omnis recusandae optio excepturi, aliquid laborum hic labore iure cupiditate, minima corporis repellat?
             
        </div>
    </div>
    </div>
</div>